In [1]:
import pandas as pd               
#pd.set_option('display.max_columns', None)
#pd.set_option('display.max_rows', None)
import numpy as np
md = pd.read_csv("E:\Data_Science\datasets\modeldata.csv")
md

,id,extract_date,skill,job,purpose,target_group,business_group,business_segment,signup_source,signup_category,first_cc_subscription_dts,country_code,product_id,download_attempts,product_platforms,machines,error_codes,label
0,0002e93c8519f24cc642ca462ef49956,10-01-2017,BEGINNER,ACADEMIC,ME_PROFESSIONAL,HED - ED/FAC/STAFF,EDUCATION,EDU STUDENT STAFF,Creative Cloud,DESKTOP,03-12-2017 11:44,US,PHSP:APRO,2.0,MAC,1.0,NaN,0
1,0003b2d98410d0350070961653b8c3bc,10-01-2017,BEGINNER,ACADEMIC,ME_PROFESSIONAL,EDGEN - AD/ED/FAC/STAFF,EDUCATION,EDU STUDENT STAFF,Renga Auto Provisioning,DESKTOP,5/29/2017 15:35,US,APRO,1.0,WIN,0.0,NaN,0
2,00093099e0d8d7c3d60a22e2883ad63d,10-01-2017,BEGINNER,NaN,NaN,HOBBYIST,HOBBYIST,PHOTO,Draw (iOS),MOBILE,06-10-2017 01:04,US,ILST:PHSP,3.0,MAC:WIN,1.0,NaN,0
3,000eb7f4b843c451d98a249e85328b05,10-01-2017,BEGINNER,STUDENT,ME_NONPROFESSIONAL,EDGEN - STUDENT,EDUCATION,EDU STUDENT STAFF,Renga Auto Provisioning,DESKTOP,1/21/2017 18:33,US,PPRO:AME,2.0,WIN,1.0,NaN,0
4,001134540564124eb2f767cb0905053c,10-01-2017,BEGINNER,STUDENT,ME_PROFESSIONAL,EDGEN - STUDENT,EDUCATION,EDU STUDENT STAFF,Renga Auto Provisioning,DESKTOP,6/23/2017 14:46,US,IDSN,1.0,MAC,0.0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308943,fff800209d3ffa5f2fdcf613c1c6acfc,10-01-2017,UNKNOWN,NaN,NaN,DIGITAL IMAGING PROFESSIONAL,DIGITAL IMAGING PROFESSIONAL,PHOTO,Creative Cloud,DESKTOP,2/14/2017 0:00,BR,PHSP:LTRM,6.0,WIN,1.0,NaN,0
308944,fff8404207a324e34193507548d403f9,10-01-2017,EXPERIENCED,PRINTGRAPHICDESIGN,ME_PROFESSIONAL,DESIGNER,DESIGN AND PRINT,SMB,Renga Auto Provisioning,DESKTOP,2/24/2017 13:18,US,KBRG:PPRO:AME:DRWV:FLPR:ANMLBETA:AEFT:SPRK:ILS...,13.0,MAC,2.0,NaN,0
308945,fff867f75f87839661c2f2d2ef458cce,10-01-2017,BEGINNER,NaN,NaN,EDGEN - STUDENT,EDUCATION,EDU STUDENT STAFF,Renga Auto Provisioning,DESKTOP,06-11-2017 13:48,US,NaN,NaN,NaN,NaN,NaN,0
308946,fffe40036ade828aa5633a9d135ae681,10-01-2017,UNKNOWN,NaN,NaN,DESIGNER,DESIGN AND PRINT,INDIVIDUAL,Marvel Web,SERVICE,01-06-2017 09:55,US,NaN,NaN,NaN,NaN,NaN,0
308947,ffffa1cc4c38b8fb0bd0e73583ee9d78,10-01-2017,MIXED,NaN,NaN,DESIGNER,DESIGN AND PRINT,SMB,Creative Cloud,DESKTOP,03-03-2017 10:10,MX,PHSP:ILST,2.0,MAC,1.0,NaN,0

In [2]:
md.describe(include = 'all')

,id,extract_date,skill,job,purpose,target_group,business_group,business_segment,signup_source,signup_category,first_cc_subscription_dts,country_code,product_id,download_attempts,product_platforms,machines,error_codes,label
count,308948,308948,308948,144304,144288,308948,308948,308923,308948,308948,308948,308948,195650,195650.000000,195650,195650.000000,13154,308948.000000
unique,308948,1,5,14,5,38,9,6,104,5,173958,42,32219,NaN,3,NaN,1931,NaN
top,c63e156c06d336c7e7a7ee03bb1b590b,10-01-2017,BEGINNER,STUDENT,ME_PROFESSIONAL,EDGEN - STUDENT,EDUCATION,INDIVIDUAL,Renga Auto Provisioning,DESKTOP,02-07-2017 00:00,US,APRO,NaN,WIN,NaN,6,NaN
freq,1,308948,131207,40501,84504,59763,89835,94681,197649,277554,112,259525,35513,NaN,115994,NaN,1880,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.052343,NaN,0.881119,NaN,0.053663
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.026572,NaN,0.884315,NaN,0.225351
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,NaN,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,1.000000,NaN,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,1.000000,NaN,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1933.000000,NaN,181.000000,NaN,1.000000

In [3]:
md1 = md.iloc[:, [2,3,4,5,6,7,8,9,11,12,13,14,15,17]]     
md1.head()
md1.describe(include = 'all')

,skill,job,purpose,target_group,business_group,business_segment,signup_source,signup_category,country_code,product_id,download_attempts,product_platforms,machines,label
count,308948,144304,144288,308948,308948,308923,308948,308948,308948,195650,195650.000000,195650,195650.000000,308948.000000
unique,5,14,5,38,9,6,104,5,42,32219,NaN,3,NaN,NaN
top,BEGINNER,STUDENT,ME_PROFESSIONAL,EDGEN - STUDENT,EDUCATION,INDIVIDUAL,Renga Auto Provisioning,DESKTOP,US,APRO,NaN,WIN,NaN,NaN
freq,131207,40501,84504,59763,89835,94681,197649,277554,259525,35513,NaN,115994,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.052343,NaN,0.881119,0.053663
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.026572,NaN,0.884315,0.225351
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,0.000000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,0.000000,0.000000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.000000,NaN,1.000000,0.000000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,1.000000,0.000000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1933.000000,NaN,181.000000,1.000000

In [4]:
md1.isnull().sum()

skill                     0
job                  164644
purpose              164660
target_group              0
business_group            0
business_segment         25
signup_source             0
signup_category           0
country_code              0
product_id           113298
download_attempts    113298
product_platforms    113298
machines             113298
label                     0
dtype: int64

In [5]:
md1.purpose = md1.purpose.fillna('ME_PROFESSIONAL')
md1.job = md1.job.fillna('STUDENT')
md1.product_id = md1.product_id.fillna('APRO')
md1.download_attempts = md1.download_attempts.fillna(4)
md1.product_platforms = md1.product_platforms.fillna('WIN')
md1.business_segment = md1.business_segment.fillna('INDIVIDUAL')
md1.machines = md1.machines.fillna(1)
md1.isnull().sum()

C:\Users\Sony\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

skill                0
job                  0
purpose              0
target_group         0
business_group       0
business_segment     0
signup_source        0
signup_category      0
country_code         0
product_id           0
download_attempts    0
product_platforms    0
machines             0
label                0
dtype: int64

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [7]:
categorical_columns = md1.select_dtypes(include = ['object']).columns
categorical_columns

Index(['skill', 'job', 'purpose', 'target_group', 'business_group',
       'business_segment', 'signup_source', 'signup_category', 'country_code',
       'product_id', 'product_platforms'],
      dtype='object')

In [8]:
md1.skill = le.fit_transform(md1.skill)                   
md1.job = le.fit_transform(md1.job)
md1.purpose = le.fit_transform(md1.purpose)
md1.target_group = le.fit_transform(md1.target_group)
md1.business_group = le.fit_transform(md1.business_group)
md1.business_segment = le.fit_transform(md1.business_segment)
md1.signup_source = le.fit_transform(md1.signup_source)
md1.country_code = le.fit_transform(md1.country_code)
md1.product_id = le.fit_transform(md1.product_id)
md1.product_platforms = le.fit_transform(md1.product_platforms)
md1.signup_category = le.fit_transform(md1.signup_category)

C:\Users\Sony\Anaconda3\lib\site-packages\pandas\core\generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [9]:
md1.head()

,skill,job,purpose,target_group,business_group,business_segment,signup_source,signup_category,country_code,product_id,download_attempts,product_platforms,machines,label
0,0,0,1,17,5,1,24,1,38,24327,2.0,0,1.0,0
1,0,0,1,12,5,1,85,1,38,7312,1.0,2,0.0,0
2,0,10,1,19,6,4,27,3,38,17506,3.0,1,1.0,0
3,0,10,0,13,5,1,85,1,38,28423,2.0,2,1.0,0
4,0,10,1,13,5,1,85,1,38,12937,1.0,0,0.0,0

In [10]:
#count_0, count_1 = md1.label.value_counts()
#count_0
#count_1

In [11]:
#md1_0 = md1[md1['label'] == 0]
#md1_1 = md1[md1['label'] == 1]
#md1_over = md1_1.sample(count_0, replace = True)
#md1_over = pd.concat([md1_over,md1_0 ], axis = 0)

In [12]:
#md1_over_x = md1_over.iloc[:, 0:13]     #independent variables
#md1_over_y = md1_over.iloc[:, -1]       #dependent varaiable
#md1_over_x.head()

In [13]:
md1_x = md1.iloc[:, 0:13]     #independent variables
md1_y = md1.iloc[:, -1]       #dependent varaiable
md1_x.head()

,skill,job,purpose,target_group,business_group,business_segment,signup_source,signup_category,country_code,product_id,download_attempts,product_platforms,machines
0,0,0,1,17,5,1,24,1,38,24327,2.0,0,1.0
1,0,0,1,12,5,1,85,1,38,7312,1.0,2,0.0
2,0,10,1,19,6,4,27,3,38,17506,3.0,1,1.0
3,0,10,0,13,5,1,85,1,38,28423,2.0,2,1.0
4,0,10,1,13,5,1,85,1,38,12937,1.0,0,0.0

In [14]:
import sklearn
from sklearn.model_selection import train_test_split

In [16]:
md1_x_train,md1_x_test,md1_y_train,md1_y_test = train_test_split(md1_x,md1_y,test_size = .2, random_state = 101)

In [17]:
from imblearn.over_sampling import SMOTE

In [18]:
sm = SMOTE(random_state = 2)

In [19]:
md1_x_over,md1_y_over = sm.fit_sample(md1_x_train, md1_y_train.ravel())

In [20]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()

In [21]:
rfc.fit(md1_x_over, md1_y_over)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [22]:
pred = rfc.predict(md1_x_test)
pred

array([0, 0, 0, ..., 0, 1, 0], dtype=int64)

In [23]:
from sklearn.metrics import confusion_matrix
matrix = confusion_matrix(pred, md1_y_test)
matrix

array([[51461,  2676],
       [ 6943,   710]], dtype=int64)

In [24]:
acc = matrix.diagonal().sum()/matrix.sum()
acc

0.8443275610940282

In [25]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import VotingClassifier

In [27]:
vc = VotingClassifier([('dtree',DecisionTreeClassifier(),'rf',RandomForestClassifier())], voting = 'hard')
vc.fit(ast.literal_eval)

NameError: name 'ast' is not defined